@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 100%;
}

/* Header */


header {
    display: flex;
    flex-direction: column;
    margin: auto;  
}

#trait { 
        border-top: 3px solid #0065FC;
        margin-bottom: 20px;
        margin-left: 840px;
        margin-right: 440px; 
} 

.logo_reservia {
    width: none;
    height: none;
    object-fit: none;
}

#main_nav {
    display: grid;
    grid-template-columns: 60% auto auto auto;
}

a {
    text-decoration: none;
}

.nav_logo {
    order: 1;
    
}

.nav_link_1 {
    margin-bottom: 20px;
    order: 2;
    color: #0065FC;   
}

.nav_link_2 {
    order: 3;
    color:  gray;
}

.sinscrire {
    order: 4;
    color: #0065FC;
}

a:hover {   
    text-decoration-color: #0065FC;
} 


/* Recherches */

input[type="search"]  {
    height: 40px;
    border: 2px  solid;
    border-radius: 5px;
    padding: 20px;
}

.Rechercher {
    text-align: center;
    color: #0065FC;
}
#title_h1 {
    display: flex;
    flex-direction: column; 
    align-content: flex-end; 
}

h1 {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.downtown {
    color: darkgrey;
}

.search {
    display: flex;
}

#filter_div { 
    display: flex;
    flex-direction: row;
} 

h2 {
    font-size: 1.0rem; 
    padding-bottom: 10px;
    } 

.fa-chart-line {
    display: flex;
    align-content:flex-end;
}

h3 {
    font-size: 0.9rem;
}

#filter_block {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    border-radius: 5px;
} 

.eco, .family, .romantic,.allowed {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
    border: 10px 10px 10px solid #F2F2F2;
    border-radius: 20px;
    color:  black;
} 

.filter_button {
    display: flex;
    border: 2px #F2F2F2;
    align-content: flex-end;
    height: 20px;
    border: 20px 20px 20px 20px solid #F2F2F2;
    border-radius: 10px;
    color: white;
    padding: 15px;
} 

#money, #child, #heart, #dog, #loupe, .fa-map-marker-alt, #info  {
    color: #0065FC;
}

.tagline {
    margin-left: 30px;
    padding-bottom: 50px;
}
/* Main */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.50rem;
}

main, header, .section_search, .section_activites {
    margin: 3rem;
}

/* hebergements */ 

.section_hebergements {
    background: #F2F2F2;
    border: 1px  hidden #F2F2F2;
    border-radius: 20px;
    width: 55rem;
    padding: 2rem;
}

.grid_hebergements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
} 
.hebergements {
    margin-left: 0.75rem;
}   

.hebergements > h3 {
    margin: 0.5rem 0;
}

.hebergements > p {
    margin: 0.125rem;
}
.hebergements > div {  
    
    margin: 0.5rem 0;
}

.description > div > .fa-star {
    margin-left: 1rem;
}

div > i.fa-star:nth-child(1) {
    margin: 0;
}

.cards {
    grid-gap: 2rem;
    background: white;
    border: 1px  hidden #F2F2F2;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    border-radius: 20px;
}

.img_hebergements {
    width: 100%;
    height: 8rem;
    /* 1rem = 16px quand l'html est initialisé à 100% */
    object-fit: cover;
    padding: 2px 0px 2px 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.afficher_plus {
    margin-top: 5px;
    font-size: 1.0rem;
    font-weight: 700;
}
/* Populaires*/

aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 2rem;
}

aside > div {
    display: flex;
    align-content: space-around;
} 

.grid_populaires {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (auto);
}

.img_populaires {
    border-radius: 20px;
    width: 100%;
    height: 8rem;
}

.cards_populaires {
    background: white; 
    margin: 2rem;
    border: 1px  hidden #F2F2F2;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
}

.fa_star_populaires {
    margin-left: 0.8rem 0;
    display: flex;
    align-items: flex-end;
    justify-items: left;
    margin-bottom: 0.5rem;
}

/* Activités */ 

.section_activites {
    display: block;
} 

.bloc_img_vieuxport {
    display: inline-block;
    flex-direction:row;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    padding-left: 0rem;
    margin-right: 2rem;
    height: 25rem;
    width: 15%;
}
    
.img_vieuxport {
    display: flex;
    align-content: flex-start;
    border: 2px hidden #F2F2F2;
    border-radius: 20px; 
    object-fit: cover;
    height: 100%;
    width: 100%; 
}

.bloc_img_fort {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    height: 10rem;
    width: 15%;
}

.img_fort {
    display: flex;
    border: 2px hidden #F2F2F2;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bloc_img_frioul {
    display: inline-block;
    align-content: flex-start;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    height: 5rem;
    width: 15%;
}

.img_frioul {
    display: flex;
    border: 2px hidden #F2F2F2;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bloc_img_calanques {
    display: inline-block;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    height: 20rem;
    width: 15%;
}

.img_calanques {
    display: flex;
    flex-direction: row;
    border: 2px hidden #F2F2F2;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bloc_img_notredame {
    display: inline-block;
    vertical-align: top;
    align-content: flex-end;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    height: 5rem;
    width: 15%;
}

.img_notredame {
    display: flex;
    flex-direction: column;
    border: 2px hidden #F2F2F2;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.bloc_img_longchamp {
    display: inline-block;
    box-shadow: 0 0 1rem gray;
    border-radius: 20px;
    height: 10rem;
    width: 15%;
}

.img_longchamp {
    display: flex;
    flex-direction: column;
    border: 2px hidden #F2F2F2;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    width: 100%;
} 


/* footer */

.footer { 
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #F2F2F2;
    border: 1px hidden; 
    justify-content: space-around;
}  

#a_propos {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
}

#nos_hebergements {
    display: flex;
    flex-direction: column;
}
#assistance {
    display: flex;
    flex-direction: column;
}

.h2_footer {
    display: flex;
    flex-direction: row;
}

p_footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
}