@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
    font-family: 'Raleway', sans-serif;
}

header, .section_recherche, .hebergements, aside, .activites {
    margin: 0 2rem 0 2rem;
}

html {
    font-size: 100%;
    max-width: 1450px;
    margin: auto; 
}

body {
    margin: 0px;
}

/* header */ 

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem; 
    align-items: center;
}

#logo {
    height: auto;
    width: 70%;
}

.img_logo {
    height: 40px;
    width: 80px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.link1, .link2 {
    color: black;
    margin-right: 5rem;
    align-items: center;
}

.link1 {
    display: flex;
}

.link2 {
    display: flex;
}

.link1:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.link2:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.sinscrire {
    color: black;
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

/* section recherche */

.section_recherche {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    font-size: 1.2rem;
}

.p_recherche {
    margin: 0px 0px 15px 0px;
}

form {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.fa-map-marker-alt {
    border: 2px  solid #F2F2F2;
    padding: 12.5px;
    height: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}

.lieu {
    background-color: white;
    height: 15px;
    border: 2px  solid #F2F2F2;
    padding: 20px;
}

input.lieu::placeholder { 
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.recherche {
    background-color: #0065FC;
    color: white;
    height: 100%;
    width: 105px;
    padding-left: 10px;
    border: 2px  solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

input.recherche::placeholder { 
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.section_recherche > h1 {
    margin-top: 0px;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; 
}

.h2_filtres {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-right: 2rem;
}

.fa-stack {
    left: -5px;
}

.fa-circle {
    color: #DEEBFF;
} 


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
}

.button, .button_romantic, .button_animals {
    height: 100%;
    color: black;
    background-color: white;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 0px;
    padding-right: 5px;
    margin-right: 2rem;
}

button {
    background-color: white;
    padding-left: 0rem;
    font-weight: 700;
    border: none;
    font-size: 0.8rem;
}

.info {
    display: flex;
    flex-direction: row;
}

.fa-info-circle {
    margin-top: 2rem; 
    padding-left: 0px;
    background-color: white;
    justify-items: center;
    color: #0065FC;
}

.p_info {
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* main */

#main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
} 

/* section hébergements */

#hebergements {
    background: #F2F2F2;
    border-radius: 20px;
    margin-right: 0px;
}

.h2_hebergements {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.0rem;
}

.hebergements_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem; 
    padding: 0 2rem 0 2rem;
}
    
.cards_hebergements { 
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1rem grey;

}

.cards_hebergements >  div {
    padding: 3px;
}


.img_hebergements {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8rem;
    width: 100%;
    object-fit: cover;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.h3_hebergements, .p_hebergements {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 15px;
    font-size: 0.8rem;
}

.stars_hebergements {
    margin-left: 15px;
    margin-bottom: 5px;
}

.afficher_plus {
    margin: 2rem;
    padding-left: 5px;
    font-weight: 700;
}

/* section populaires */

aside {
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 0px;
} 

.populaires_grid {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
}

.h2_populaires {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.h2_populaires, .fa-chart-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 1.0rem;
}

/* .h3_populaires {
} */ 

.cards_populaires {
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1rem grey;
    display: flex;
    flex-direction: row;
}

.cards_info {
    flex-grow: 2;
    padding-left: 10px;
}

.cards_populaires > div {
    height: 8rem; 
}

.h3_populaires {
    padding-top: 0.5rem;
}

.h3_populaires, .p_populaires {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.img_populaires {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 3px 0px 3px 3px;
    height: 7.6rem;
    width: 7.5rem;
    object-fit: cover;
} 

.stars_populaires {
    padding-top: 2rem;
    padding-left: 15px;
}

/* section activités */

#activites {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.h2_activites {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.0rem;
}

.activites_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.cards_vieuxport, .cards_calanques {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 1rem grey;
    border-radius: 20px; 
}

.img_vieuxport,.img_calanques {
    display: grid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 29rem;
    width: 100%;
    object-fit: cover;
}

.img_fort, .img_longchamp {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 17rem;
    width: 100%;
    object-fit: cover;
}

.fort_iles {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 2rem;
}

.cards_fort, .cards_longchamp {
    display: grid;
    grid-template-rows: 87% 13%;
    height: 315px;
    width: 100%;
    box-shadow: 0 0 1rem grey;
    border-radius: 20px; 
}

.cards_fort > a { 
    height: 15rem;
}

.cards_iles, .cards_notredame {
    display: grid;
    grid-template-rows: 72% 28%;
    height: 158px;
    width: 100%;
    box-shadow: 0 0 1rem grey;
    border-radius: 20px; 
}

.cards_iles > a{
    height: 100px;
}

.cards_notredame > a{
    height: 100px;
}

.notredame_longchamp {
    display: grid;
    gap: 2rem;
}

.img_iles, .img_notredame {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 7.2rem;
    width: 100%;
    object-fit: cover;
}

.h3_activites {
    padding-left: 20px;
    font-size: 0.8rem;
}

/* Footer */ 

.footer {
    gap: 5rem;
    background-color: #F2F2F2;
    padding: 2rem; 
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.A_propos, .Nos_hébergements, .Assistance {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.h3_footer {
    margin-bottom: 5px;
}

.A_propos {
    margin-left: 0px;
}

.p_a_propos, .p_footer_nos_hebergements, .p_footer_assistance {
    margin-top: 0px;
    margin: 0px;
    padding-bottom: 10px;
} 

/* responsive */

/* tablette */

@media (max-width: 1150px) {
    #main {
        grid-template-columns: 1fr;
    }
    #hebergements {
        background: #F2F2F2;
        border-radius: 20px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    aside {
        grid-area: 1;
        background: #F2F2F2;
        border-radius: 20px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #activites {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .h2_activites {
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 1.0rem;
    }
    .fort_iles {
        display: grid;
        gap: 2rem;
    }
    .footer {
        display: block;
    }
} 
@media (max-width: 970px) {
    .hebergements_grid {
        grid-template-columns: 1fr;
    }
    .activites_grid { 
        grid-template-columns: 1fr;
    }
    #activites {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .h2_activites {
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 1.0rem;
    }
    .img_vieuxport, .img_calanques {
        display: grid;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 8rem;
        width: 100%;
        object-fit: cover;
    }
    .fort_iles {
        display: grid;
        gap: 2rem;
    }
    .cards_vieuxport, .cards_calanques {
        height: 10.5rem;
        width: 100%;
        box-shadow: 0 0 1rem grey;
        border-radius: 20px; 
    }
    .cards_iles, .cards_notredame {
        display: grid;
        grid-template-rows: 72% 28%;
        height: 10.5rem;
        width: 100%;
        box-shadow: 0 0 1rem grey;
        border-radius: 20px; 
    }
    .cards_fort, .cards_longchamp {
        display: grid;
        grid-template-rows: 87% 13%;
        height: 10.5rem;
        width: 100%;
        box-shadow: 0 0 1rem grey;
        border-radius: 20px; 
    }
    .img_fort, .img_longchamp {
        display: grid;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 8rem;
        width: 100%;
        object-fit: cover;
    }
    .img_iles, .img_notredame {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 8rem;
        width: 100%;
        object-fit: cover;
    }
    .A_propos, .Nos_hébergements, .Assistance {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 2rem;
    }
}
@media (max-width: 600px) {
    .button_romantic {
        display: flex;
        flex-wrap: wrap;
    }
}

/* smartphone */ 

@media (max-width: 500px) {
    aside {
        background: #F2F2F2;
        margin-left: 2rem;
        margin-right: 2rem;
    } 
    #hebergements {
        background: white;
        border-radius: 20px;
    }
    .hebergements_grid {
        grid-template-columns: 1fr;
    }
    .activites_grid { 
        grid-template-columns: 1fr;
    }
    .button_animals {
        display: flex;
        flex-wrap: wrap;
    }
    .link1 {
        display: flex;
        flex-wrap: wrap;
    }
    .link2 {
        display: flex;
        flex-wrap: wrap;
    }
    .link1:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        display: flex;
        flex-wrap: wrap;
    }
    
    .link2:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC;
        display: flex;
        flex-wrap: wrap;
    }
}