@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 100%;
}

/* Header */


header {
    display: flex;
    flex-direction: column;
    margin: auto;  
}

#trait { 
        border-top: 3px solid #0065FC;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 880px;
        margin-right: 470px; 
}

.logo_reservia {
    width: none;
    height: none;
    object-fit: none;
}

#main_nav {
    display: grid;
    grid-template-columns: 60% auto auto auto;
}

a {
    text-decoration: none;
}

.nav_logo {
    order: 1;
    
}

.nav_link_1 {
    order: 2;
    color: #0065FC;   
}

.nav_link_2 {
    order: 3;
    color:  gray;
}

.sinscrire {
    order: 4;
    color: #0065FC;
}

a:hover {   
    text-decoration-color: #0065FC;
} 


/* Recherches */

#rechercher {
    height: 20px;
    border: 20px 20px 20px solid #F2F2F2;
    border-radius: 10px;
    padding: 15px;
}

#title_h1 {
    display: flex;
    flex-direction: column; 
    align-content: flex-end; 
}

h1 {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.downtown {
    color: darkgrey;
}

.search {
    display: flex;
}

#filter_div { 
    display: flex;
    flex-direction: row;
} 

h2 {
    font-size: 0.9em; 
    } 

#filter_block {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    border-radius: 5px;
}

.eco, .family, .romantic,.allowed {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 15px;
    border: 10px 10px 10px solid #F2F2F2;
    border-radius: 20px;
    color: black;
} 

.filter_button {
    display: flex;
    align-content: flex-end;
    color: white;
    padding: 15px;
} 

#money, #child, #heart, #dog, #loupe, .fa-map-marker-alt {
    color: #0065FC;
}

#info {
    color: #0065FC;
}

.tagline {
    margin-left: 30px;
    padding-bottom: 50px;
}
/* Main */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}
/* hebergements */ 

.grid_hebergements {
    display: grid;
    grid-gap: 2rem;
}

.section_hebergements {
    padding: 2rem;
}
.section_hebergements > div, aside > div {
    background: #F2F2F2;
    padding: 0.50rem;
}

.hebergements {
    margin-left: 0.75rem;
}   

.hebergements > h3 {
    margin: 0.5rem 0;
}

.hebergements > p {
    margin: 0.125rem;
}
.hebergements > div {  
    
    margin: 0.5rem 0;
}

.description > div > .fa-star {
    margin-left: 1rem;
}

div > i.fa-star:nth-child(1) {
    margin: 0;
}

div {
    background: white;  
}
div > img {
    width: 100%;
    height: 8rem;
    /* 1rem = 16px quand l'html est initialisé à 100% */
    object-fit: cover;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/* Populaires*/

aside {
    grid-gap: 2rem;
}


/* Activités */

.section_activites {
    background: white;
}

.img_vieuxport {
    height: 18rem;
    width: 15%;
}

.img_fort {
    height: 9rem;
    width: 15%;
}

.img_frioul {
    height: 9rem;
    width: 15%;
}
.img_calanques {
    height: 18rem;
    width: 15%;
}

.img_notredame {
    height: 9rem;
    width: 15%;
}

.img_longchamp {
    height: 9rem;
    width: 15%;
}

/* footer */

.footer { 
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F2F2F2;
    border: 1px hidden; 
}  

#a_propos {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
}

#nos_hebergements {
    display: flex;
    flex-direction: column;
}
#assistance {
    display: flex;
    flex-direction: column;
}

.h2_footer {
    display: flex;
    flex-direction: row;
}

.p_footer {
    margin-left: 20px;
}
